# Ignore all dotfiles...
.*
# except for .gitignore
!.gitignore

db
eclipse
bin
lib
out
dist
log
logs
modules
target
tmp
test-result
server.pid
*.iml
*.eml
*.iws
*.ipr
commands.pyc

/samples-and-tests/orientdb-test/eclipse
/samples-and-tests/orientdb-test/modules
/samples-and-tests/orientdb-test/test-result
/samples-and-tests/orientdb-test/tmp
/samples-and-tests/orientdb-test/.classpath
/samples-and-tests/orientdb-test/.project
/samples-and-tests/orientdb-test/.settings
